/* body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-container {
  background: linear-gradient(to right, #1e3c72, #2a5298);
  height: 100vh;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin-left: 20px;
  cursor: pointer;
}

.hero {
  text-align: center;
  margin-top: 120px;
}

.hero h1 {
  font-size: 45px;
}

.hero button {
  padding: 12px 25px;
  font-size: 16px;
  background-color: white;
  color: #1e3c72;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

body {
  margin: 0;
  font-family: "Segoe UI", Arial;
}

.home-container {
  height: 100vh;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  align-items: center;
}

.logo {
  letter-spacing: 1px;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar li {
  margin-left: 25px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  margin-top: 140px;
}

.hero h1 {
  font-size: 48px;
}

.hero p {
  font-size: 18px;
  opacity: 0.9;
}

.hero-btn {
  margin-top: 25px;
  padding: 14px 35px;
  font-size: 16px;
  background-color: #ffffff;
  color: #243b55;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #e0e0e0;
}
